body {
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.card {
  position: relative;
  max-width: 450px;
  background-color: hsl(217, 19%, 24%);
  font-family: "Manrope";
  padding: 25px;
  border-radius: 7.5px;
}

#adviceId {
  color: hsl(150, 100%, 66%);
  font-size: 8px;
  letter-spacing: 2px;
}

#adviceText {
  color: hsl(193, 38%, 86%);
  font-size: 20px;
  font-weight: 800;
}

.divider {
  margin-bottom: 15px;
}

.diceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 228px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  cursor: pointer;
}

.diceContainer:hover {
  box-shadow: -3px 0px 25px -1px rgba(83,255,171,1);
}

.diceContainer:active .dice {
  transform: scale(0.85);
}

.dice {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 500px) {
  .card {
    width: 80%;
    min-width: 200px;
    padding: 10px;
  }
  .divider {
    width: 80%;
    min-width: 200px;
  }
  .diceContainer {
    top: 89%;
    left:44%;
    width: 35px;
    height: 35px;
  }
  .dice {
    width: 15px;
    height:15px;
  }
}
